body{
margin-left: 200px;
margin-right: 200px;
background-color: rgb(255, 255, 255);
}

section{
    background-color: rgb(255, 255, 255);
}

#titulo{
    text-align: center;
}
#definicion{
    text-align: center;
}
#sub{
   text-decoration: underline;
   text-decoration-color: rgb(0, 255, 34);
   border-bottom-width: 5px;
   
}